
**/node_modules/*
.cache
.config/configstore
**/.firebaserc
.runtimeconfig.json
.firebase/
replit.db
replit-code-runner
replit-code-runner-*
replit.nix
replit.nix-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
